.metadata {
  &.block {
    display: block;
    min-height: 1.5rem;
    word-break: break-word;
  }
}

label.metadata.block {
  font-weight: bold;
}

.block.metadata-section,
.block.metadata {
  .form-error-label {
    border: none !important;
  }
}
